@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* * {
    font-family: 'Roboto';
    color: #F2D272;
} */

body {
    background-color: #7A98BF;
        font-family: 'Roboto';
    color: #F2D272;
}

p {
    font-family: 'Roboto'!important;
    font-weight: 200!important;
}

 /* Navbar Styling */ 
.navbar {
    padding-bottom: 1rem;
}

.navbar-brand img {
    position: relative;
    height: 4em;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item {
    margin-left: 1rem;
}

.nav-link:hover, .dropdown-item:hover {
    color: #032859!important;
}


/*Jumbotron*/

.jumbotron .container {
    margin: 0;
    padding: 0;
}



.jumbotron {
    background-color:#7A98BF;
}

/* Card */

.card, .card img {
    padding: 0px;
    background-color: #7A98BF;
    border-radius: 1rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;

}

.card-body {
    padding-bottom: 1em
}

/* #cardButtons {
    color: white;
    background-color: #5F0F40;
} */

.card .btn {
    color: #939196!important;
    background-color: #5F0F40;
}

/* Carousel */

.carousel-caption h1 {
    position: relative;
    transform: translateY(-180%);
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    position: relative;
    transform: translateY(-100%);
    font-size: 200%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption button {
    transform: translateY(-50%);
}

/*Social Media Buttons*/

.fa-instagram {
    color: #C13584;
}
.fa-facebook {
    color: #4267B2;
}
.fa-twitter {
    color: #00acee;
}

.fa-youtube {
    color: #c4302b;
}
.fa-code, .fa-bold {
    font-size: 4em;
    margin: 1rem;
}

footer {
    background-color: white;
    padding-top: 1rem;
    color: #7A98BF!important;
}
footer h5 {
    color: #7A98BF;
}


iframe {
    border: 0px;
}

.padding {
    padding-bottom: 2rem; 
    padding-top: 2rem;
}

.alternate {
    background-color: #032859;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

hr {
    background-color: white!important;
    width: 60%;
}

#tutorials p {
    font-size: 1.3rem;
    font-weight: 100;
}


#aboutus p {
    color: #F2D272;
    font-size: 1.3em;
    font-weight: 100;
}

 #aboutus h3 {
    color: #F2D272;
}

#headshot {
    height: auto;
    width: auto;
    flex-flow: column;
}

#tutorials h4 {
    background-color: #032859;
}

iframe {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.btn-warning {
    background-color: #032859;
    color: #F2D272;
    border: 0;
}

.modal-header {
    background-color: #032859;
}

.modal-dialog h5 {
    color: white;
}

.modal-body label {
    color: #032859;
}

.modal-footer .btn-primary {
    background-color: #032859;
    border: 0;
}

@media screen and (max-width:414px) {
    #headshot {
        /* height: auto; */
        width: 5px;
    }
}