@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Encode Sans';
    color: #939196;
}

body {
    background-color: #5F0F40;
}

 /* Navbar Styling */ 
.navbar {
    padding-bottom: 1rem;
}

.navbar-brand img {
    position: relative;
    height: 6em;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item {
    margin-left: 1rem;
}

.nav-link:hover, .dropdown-item:hover {
    color: purple!important;
}

/* Top Ten List */

#topTen li {
    padding-top: 1.3em;
}

#topTen ol {
    background-color: red;
    border: 1px solid;
    height: 100%;
    max-width: 100%;
}


/*Jumbotron*/

.jumbotron .container {
    
    margin: 0;
    padding: 0;
    background-color: #5F0F40;
}

.jumbotron {
    background-color: #939196;
}

/* Carousel */



.carousel-caption h1 {
    position: relative;
    transform: translateY(-50%);
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

/*Social Media Buttons*/

.fa-instagram {
    color: #C13584;
}
.fa-facebook {
    color: #4267B2;
}
.fa-twitter {
    color: #00acee;
}

.fa-youtube {
    color: #c4302b;
}
.fa-code, .fa-bold {
    font-size: 4em;
    margin: 1rem;
}

footer {
    background-color: #CB793A;