$color-primary: #5F0F40;
$color-secondary: #CB793A;
$color-tertiary: #9A031E;
$color-bright: #FCDC4D;
$color-dark: #321325;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Encode Sans", sans-serif;
$header-font: "Encode Sans", sans-serif;